:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

html {
    background-color: #C2D6D5;
}

header {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 50px;
    border: 2px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 5px;
    padding: 5px;
    background-color: #7EC8B8;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
    margin-top: 0;
}

nav {
    z-index: 2;
    position: sticky;
    top: 0;
    background: #3C2A3C;
    display: flex;
    border: 2em;
    padding: .5em;
    flex-direction: row;
    justify-content: space-around;
}

header iframe {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding-right: 10;
    border-radius: 5px;
    border-bottom-right-radius: 50px
}

header h1 {
    position: absolute;
    z-index: 1;
    font-size: 5em;
    font-family: 'Lilita One', cursive;
    font-style: bold;
    color: #FAF9F9
}

.links a {
    text-decoration-line: none;
    font-size: 1.5em;
    color: #FAF9F9;
    border: 2px;
    border-width: 2px;
    border-radius: 20px;
    opacity: .85;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    opacity: 1;
    transform: scale(1.03);
}

.Home {
    padding-top: 1em;
    gap: 4em;
    display: grid;
    grid-template-columns: .5fr 5fr 2fr .5fr;
    grid-template-areas: ". ContentBox sidebar .";
}

.Page {
    padding-top: 1em;
    gap: 4em;
    display: grid;
    grid-template-columns: .5fr 5fr .5fr;
    grid-template-areas: ". ContentBox .";
}

.ContentBox{
    grid-area: ContentBox;
    background-color: #A0CFC7;
    color: #335C81;
    padding: 1em;
    border: 2px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 10px;
    font-size: 1.3em;
    width: fit-content;
}

aside {
    grid-area: sidebar;
}

.TextFill {
    grid-column: span 2;
}

.ImageGallery{
    display: inline-block;
}

.ImageGallery img{
    max-width: 100%;
    padding: 12px;
}


h2 {
    font-size: 1.5em;
    font-weight: 900;
    border: 2px outset #54B6A0;
    border-left-width: 4px;
    border-bottom-width: 4px;
    border-radius: 10px;
    padding: 8px 5px;
    margin: 5px;
    text-align: center;
    color: #FAF9F9;
    background: #7EC8B8;
    width: fit-content;
}

h3 {
    border-radius: 10px;
    border: 2px outset #54B6A0;
    border-left-width: 4px;
    border-bottom-width: 4px;
    padding: 8px 5px;
    margin: 5px;
    text-align: center;
    color: #FAF9F9;
    background: #7EC8B8;
    width: fit-content;
}

.About {
    display: grid;
    grid-template-columns: .5fr 1fr 5fr .5fr;
    grid-template-areas: ". IconContainer ContentBox .";
}

.IconContainer {
    grid-area: IconContainer;
    display: inline-block;
}

.ProfilePhoto {
    max-width: 100%;
    border: 2px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 10px;
}

.SkillIcon {
    width: 30%;
    height: auto;
    padding: .8em;
    filter: invert(29%) sepia(71%) saturate(369%) hue-rotate(166deg) brightness(97%) contrast(93%);
}