:root {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

/* @supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
} */

@font-face {
    font-family: 'Zschusch_light';
    src: local('Zschusch_light'), url(./Fonts/Zschusch_light.ttf) format('truetype');
}

@font-face {
    font-family: 'TGL0-17';
    src: local('TGL0-17'), url(./Fonts/TGL0-17.ttf) format('truetype');
}

@font-face {
    font-family: 'Movement-DirectBlack';
    src: local('Movement-DirectBlack'), url(./Fonts/Movement-DirectBlack.woff2) format('woff2');
}

html {
    background-color: #C2D6D5;
}

header {
    /* border-radius: 5px; */
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /* border: 2px solid rgba(60, 42, 60, 1.0); */
    padding: .25em;
    background-color: #7EC8B8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: sticky;
    top: -258px;
    margin-bottom: 5em;
}

nav {
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: rgba(60, 42, 60, 1.0);
    display: flex;
    border: 2em;
    padding: .5em;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'TGL0-17';
    font-size: 1em;
    letter-spacing: .2rem;
}

header iframe {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 300px;
    border: none;
    /* padding-right: 10; */
    border-radius: 8px;
}

header h1 {
    position: absolute;
    z-index: 3;
    font-size: 6em;
    /* font-family: 'Lilita One', cursive; */
    font-family: 'Zschusch_light';
    font-weight: 100;
    color: #3C2A3C;
    cursor: default;
}

.links a {
    text-decoration-line: none;
    font-size: 1.5em;
    color: #FAF9F9;
    border: 2px;
    border-width: 2px;
    border-radius: 20px;
    opacity: .9;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    opacity: 1;
    transform: scale(1.03);
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -20;
    border: 0px;
    top: 0px;
    left: 0;
    filter: blur(3px);
}

.Page {
    padding-top: 1em;
    gap: 4em;
    display: grid;
    grid-template-columns: .5fr 5fr .5fr;
    grid-template-areas: ". ContentBox .";
}

.ContentBox {
    z-index: 1;
    grid-area: ContentBox;
    color: #3C2A3C;
    padding: 1em;
    border: 0px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 1.1em;
    display: grid;
    line-height: 1.8;
    border-top-right-radius: 5em;
    background-image: linear-gradient(to right, rgba(126, 200, 184, 1), rgba(126, 200, 184, 0.6))
}


.TextFill {
    grid-column: span 2;
}

h2 {
    font-family: 'TGL0-17';
    font-size: 2em;
    font-weight: 300;
    padding: 8px 5px;
    margin: 5px;
    color: #3C2A3C;
    width: fit-content;
    position: relative;
    z-index: -3;
}

h3 {
    font-family: 'TGL0-17';
    padding: 8px 5px;
    margin: 5px;
    text-align: left;
    color: #3C2A3C;
    width: fit-content;
}

.About {
    gap: 2em;
    display: grid;
    justify-self: left;
}

.AboutMe {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-end: span 2;
    max-width: 900px;
    justify-self: left;
}

.IconContainer {
    grid-column-start: 1;
    grid-row: 1;
    grid-row-end: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 3em;
    margin-left: 5vw;
    margin-top: 5px;
    max-width: 225px;
}

.ProfilePhoto {
    max-width: 100%;
    border: 2px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-radius: 10px;
    grid-column: span 2;
}

.SkillIcon {
    z-index: -1;
    width: 100%;
    filter: invert(29%) sepia(71%) saturate(369%) hue-rotate(166deg) brightness(97%) contrast(93%);
}

.Home {
    padding-top: 1em;
    gap: 2em;
    display: grid;
    grid-template-columns: .25fr 1fr .25;
    grid-template-areas:
        ". Identity ."
        ". MainPage .";
}

.MainPage {
    grid-area: MainPage;
    display: grid; 
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 2em;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: stretch;
}

.GenArtHighlight {
    grid-column: span 3;
}

.GenArtHighlight .ContentBox {
    padding-top: 2em;
    border-top-right-radius: 10px;
}

.Identity {
    grid-area: Identity;
    font-size: 2em;
    padding: 2em 0;
}

.Identity h2 {
    font-family: 'Movement-DirectBlack';
    width: 100%;
    margin-top: -.25em;
}

.Identity :nth-child(1) {
    text-align: left;
}

.Identity :nth-child(2) {
    text-align: center;
}

.Identity :nth-child(3) {
    text-align: right;
}

.ImageGallery {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ImageGallery > * {
    max-width: 100%;
    background: #FAF9F9;
    border: 2px solid #3C2A3C;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-radius: 8px;
}

.ImageGallery .ContentBox {
    margin-top: 1em;
}

.LinkIcon {
    filter: invert(29%) sepia(71%) saturate(369%) hue-rotate(166deg) brightness(97%) contrast(93%);
}

.wp-block-gallery {
    display: flex;
    flex-wrap: wrap;
}

.wp-block-image {
    width: 25vw;
    flex-grow: 1;
}

.wp-block-gallery img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
    background: #FAF9F9;
    border: 2px solid #3C2A3C;
    border-left-width: 3px;
    border-bottom-width: 3px;
    border-radius: 8px;
}

.ProjectShowcase {
    gap: 2em;

    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.Title {
    z-index: 0;
    background-color: #3C2A3C;
    color: #C2D6D5;
    border: 2px solid #3C2A3C;
    border-left-width: 5px;
    border-bottom-width: 3px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: -15px;
    margin-left: -8px;
    width: fit-content;
}

.RecentPost {
    z-index: -1;
    max-width: 900px;
    padding-bottom: 10vh;
    /* justify-self: left; */
}

.RecentPost h2 {
    font-size: 3em;
}

.RecentPost p:first-child {
    padding-top: 1em;
}

.Links {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    text-decoration: none;
}

.BusinessCard {
    grid-column-start: 3;
}

.BusinessCard img {
    min-height: 75px;
    max-height: 100px;
}

@media screen and (max-width: 900px) {
    header h1 {
        font-size: clamp(2em, 1em, 6em);
        font-weight: 10;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .Home {
        padding-top: 1em;
        gap: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Identity {
        font-size: 1em;
    }
}

@media screen and (max-width: 550px) {
    nav {
        font-size: .75em;
        width: 100%;
    }

    body {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .MainPage {
        margin-left: 15px;
        margin-right: 15px;
        gap: 2px
    }

    .Identity {
        width: 95%;
        padding-left: 0px;
        padding-right: 5px;
    }

    header {
        margin-bottom: 0px;
        top: -100px;
    }

    header iframe {
        height: 128px;
    }

    h2 {
        font-size: 1.75em;
    }

    .RecentPost h2 {
        margin-top: 1em;
        font-size: 1.75em;
    }

    .wp-block-gallery {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .ProjectShowcase {
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
    }

    .ImageGallery {
        grid-template-columns: 1fr;
    }

    .BusinessCard {
        margin-top: 2em;
    }

    .About {
        margin-top: 1em;
        margin-left: 15px;
        margin-right: 0;
    }

    .AboutMe {
        grid-column-start: 1;
    }

    .IconContainer {
        grid-row-start: auto;
        grid-column-start: auto;
        grid-column-end: span 3;
        max-width: fit-content;
        margin-left: 8px;
    }
}